.home {
    padding: 20px;
    background-color: #141414;
    color: white; /* 홈 화면의 기본 글씨 색상 */
}

.movie-section {
    position: relative;
    margin-bottom: 40px;
}

.movie-row {
    display: flex; /* Flexbox 사용 */
    overflow-x: auto; /* 가로 스크롤 허용 */
    scroll-behavior: smooth; /* 스크롤 시 부드럽게 이동 */
}

.movie-row::-webkit-scrollbar {
    display: none; /* 스크롤바 숨기기 */
}

.movie-card {
    flex: 0 0 calc(20% - 10px); /* 한 줄에 다섯 개씩 보이도록 설정 */
    margin-right: 10px;
    background-color: #141414;
}

.movie-poster {
    width: 100%;
}

/* 스크롤 버튼 스타일 */
.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white; /* 버튼 텍스트 색상을 하얀색으로 설정 */
    border: none;
    padding: 10px;
    cursor: pointer;
}

.scroll-btn.left {
    left: -40px;
    
}

.scroll-btn.right {
    right: -40px;
}

/* 섹션 제목 스타일 */
.section-title h1 {
    color: white; /* 텍스트 색상을 하얀색으로 설정 */
    text-align: left; /* 텍스트를 왼쪽 정렬 */
    font-size: 2rem;
  }
  .banner {
    position: relative;
    height: 60vh; /* 배너 높이 설정 */
    background-size: cover; /* 배경 이미지가 꽉 차도록 설정 */
    background-position: center; /* 배경 이미지를 가운데로 정렬 */
    color: white; /* 텍스트 색상 하얀색으로 설정 */
    display: flex;
    align-items: flex-end; /* 내용이 하단에 위치하도록 설정 */
    padding: 40px;
}

.banner-content {
    max-width: 600px; /* 내용 너비 제한 */
}

.banner h1 {
    font-size: 2.5rem; /* 제목 크기 설정 */
    color: white;
    margin-bottom: 20px;
    text-align: left;
}

.banner p {
    font-size: 0.9rem; /* 설명 텍스트 크기 설정 */
    line-height: 1.5;
    margin-bottom: 20px;
    
}

/* 배너 버튼 스타일 */
.banner-buttons {
    display: flex;
}

.banner-buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.play-btn {
    background-color: #e50914; /* 넷플릭스 빨간색 버튼 */
    color: white;
}

.info-btn {
    background-color: rgba(109,109,110,0.7); /* 반투명 회색 버튼 */
    color: white;
}
