.signin {
  width: 400px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.signin h1 {
  margin-bottom: 25px;
  font-size: 24px;
}

.signin input {
  display: block;
  width: calc(100% - 20px);
  margin-bottom: 20px;
  padding: 12px;
}

.signin button {
  margin-top: 20px;
  padding: 12px;
}

.signin button:hover {
   background-color: #b30000; 
   transform: translateY(-3px); 
   box-shadow: none; 
}

.signin button:active {
   transform: translateY(0); 
   box-shadow: none; 
}