/* Container for the sign-in form */
.signin {
  width: 400px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  background-color: white; /* White background */
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  
  /* Add perspective for the rotating transition */
  perspective: 1000px;

  /* Smooth transition for transform and opacity */
  transition: transform 0.6s ease, opacity 0.6s ease;
}

/* Transition class when switching pages */
.transition {
  transform: rotateY(90deg); /* Rotate around Y-axis for a backward flip effect */
  opacity: 0; /* Fade out */
}

/* Header styling */
.signin h1 {
  margin-bottom: 25px;
  font-size: 24px;
  color: #333;
}

/* Input fields styling */
.signin input {
  display: block;
  width: calc(100% - 20px);
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button styling */
.signin button {
  margin-top: 20px;
  padding: 12px;
  width: calc(100% - 20px);
  background-color: #ff0800;
  color: white;
  border: none;
  border-radius: 5px;

   /* Transition effects for button hover */
   transition:
     background-color 0.3s ease,
     transform 0.3s ease,
     box-shadow 0.3s ease;
}

/* Button hover effect */
.signin button:hover {
   background-color: #b30000; /* Darker blue on hover */
   transform: translateY(-3px); /* Slight lift on hover */
   box-shadow: 0px 8px 16px rgba(0,0,0,0.2); /* Add shadow on hover */
}

/* Button active effect (when clicked) */
.signin button:active {
   transform: translateY(0); /* Reset lift when clicked */
   box-shadow: none; /* Remove shadow when clicked */
}