/* 로그인 폼 컨테이너 */
.signin {
  width: 400px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  background-color: #f9f9f9; /* 약간 밝은 배경색 */
  border-radius: 12px; /* 둥근 모서리 */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15); /* 더 부드러운 그림자 */
}

/* 제목 스타일 */
.signin h1 {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: bold;
  color: #333; /* 다크 그레이 색상 */
}

/* 입력 필드 스타일 */
.signin input {
  display: block;
  width: calc(100% - 24px); /* 패딩을 고려한 너비 */
  margin-bottom: 20px;
  padding: 12px;
  font-size: 16px; /* 폰트 크기 조정 */
  border-radius: 8px; /* 둥근 모서리 */
  border: 1px solid #ccc; /* 연한 회색 테두리 */
  background-color: #fff; /* 흰색 배경 */
  box-shadow: inset 0px 2px 4px rgba(0,0,0,0.05); /* 안쪽 그림자 */
}

/* 입력 필드 포커스 시 스타일 */
.signin input:focus {
  outline: none; /* 기본 아웃라인 제거 */
  border-color: #007BFF; /* 포커스 시 파란색 테두리 */
}

/* 버튼 스타일 */
.signin button {
  width: calc(100% - 24px);
  margin-top: 20px;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white; /* 흰색 글씨 */
  background-color: #ff4d4d; /* 기본 빨간색 배경 */
  border: none;
  border-radius: 8px; /* 둥근 모서리 */
  cursor: pointer;
  
   /* 부드러운 전환 효과 추가 */
   transition: background-color .3s ease, transform .2s ease, box-shadow .2s ease;
}

/* 버튼 호버 시 스타일 (마우스 올릴 때) */
.signin button:hover {
   background-color: #e60000; /* 진한 빨간색으로 변경 */
   transform: translateY(-3px); /* 살짝 위로 이동하는 효과 */
   box-shadow: none; 
}

/* 버튼 클릭 시 스타일 (마우스 클릭할 때) */
.signin button:active {
   transform: translateY(0); 
   box-shadow: none; 
}

/* 체크박스와 라벨 컨테이너 정렬 */
.signin .checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -10px; /* 간격 조정 */
}

.signin input[type="checkbox"] {
    margin-right: 10px; /* 체크박스와 텍스트 사이 간격 조정 */
}

.signin label {
    font-size: 14px;
    color: #666; /* 연한 회색 텍스트 색상 */
}