/* 영화 리스트 아이템 스타일 */
.movie-list-item {
  position: relative;
  width: 200px; /* 모든 포스터의 너비를 고정 */
  height: 350px; /* 포스터와 제목을 포함한 높이 */
  margin: 10px; /* 포스터 간격 추가 */
  background-color: #333; /* 영화 아이템의 배경색 */
  border-radius: 5px;  /* 모서리를 둥글게 */
  overflow: hidden; /* 이미지가 넘칠 경우 숨김 처리 */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* 그림자 효과 */
  transition: transform 0.3s ease; /* 부드러운 전환 효과 */
}

.movie-list-item:hover {
  transform: scale(1.05); /* 마우스를 올렸을 때 확대 */
  cursor: pointer; /* 커서를 손 모양으로 변경 */
}

/* 포스터 이미지 스타일 */
.movie-list-item img {
  width: 100%; /* 부모 요소의 너비에 맞게 이미지 크기 조정 */
  height: 85%; /* 부모 요소의 높이에 맞게 이미지 크기 조정 (85%로 설정) */
  object-fit: cover; /* 이미지 비율을 유지하면서 부모 크기에 맞게 자름 */
}

/* 영화 제목 스타일 */
.movie-list-item h3 {
  margin-top: 5px;
  text-align: center;
  color: white;
  font-size: 1rem;
}

/* 영화 목록 그리드 배치 스타일 */
.movie-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wishlist-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 기본값: 한 줄에 5개 */
  gap: 20px; /* 아이템 사이의 간격 */
  padding: 20px;
}

@media (max-width: 1200px) {
  .wishlist-container {
    grid-template-columns: repeat(4, 1fr); /* 화면 너비가 1200px 이하일 때 한 줄에 4개 */
  }
}

@media (max-width: 992px) {
  .wishlist-container {
    grid-template-columns: repeat(3, 1fr); /* 화면 너비가 992px 이하일 때 한 줄에 3개 */
  }
}

@media (max-width: 768px) {
  .wishlist-container {
    grid-template-columns: repeat(2, 1fr); /* 화면 너비가 768px 이하일 때 한 줄에 2개 */
  }
}

@media (max-width: 576px) {
  .wishlist-container {
    grid-template-columns: repeat(1, 1fr); /* 화면 너비가 576px 이하일 때 한 줄에 1개 */
  }
}
