/* 전체 컨테이너 */
.movie-grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 각 영화 카드 스타일 */
.movie-grid-item {
    position: relative; /* 좋아요 아이콘을 절대 위치로 배치하기 위해 설정 */
    transition: transform 0.3s ease; /* 호버 시 부드러운 확대 효과 */
}

.movie-grid-item:hover {
    transform: scale(1.05); /* 마우스를 올렸을 때 개별 카드 확대 */
    cursor: pointer; /* 커서를 손 모양으로 변경 */
}

/* 영화 포스터 이미지 스타일 */
.movie-grid-item img {
    width: 90%; /* 포스터 크기를 부모 요소에 맞춰 설정 */
    height: 60%; /* 비율 유지 */
    border-radius: 10px; /* 포스터 모서리를 둥글게 설정 (선택 사항) */
    aspect-ratio: 13/12; /* 포스터 비율을 2:3으로 고정 */
    max-width: 180px; /* 최대 너비를 200px로 제한 */
    max-height: 180px;
    object-fit: cover; /* 이미지가 부모 요소를 채우면서 비율 유지 */
}

/* 영화 제목 스타일 */
.movie-grid-item h3 {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    max-width: 150px; /* 제목 영역의 최대 높이를 설정 */
    word-wrap: break-word; /* 긴 단어가 있을 경우 줄바꿈 */
    display: -webkit-box; /* Flexbox 기반의 다중 줄 자르기 지원 */
    -webkit-box-orient: vertical; /* Flexbox 방향을 수직으로 설정 */
}

/* 좋아요 하트 아이콘 스타일 - 항상 보이게 설정 */
.like-icon {
    color: red;
    font-size: 24px;
    position: absolute; /* 절대 위치로 설정하여 카드의 특정 위치에 배치 가능 */
    top: 10px; /* 카드 상단에서 10px 아래에 위치 */
    right: 20px; /* 카드 오른쪽에서 10px 왼쪽에 위치 */
}

/* 페이지네이션 컨트롤 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* 상단 여백 */
}

.pagination button {
    background-color: #007bff; /* 밝은 파란색으로 변경 */
    color: white;
    border: none;
    padding: 15px; /* 버튼 크기 증가 */
    margin-left: 5px; /* 버튼 간 간격 */
    margin-right: 5px; /* 버튼 간 간격 */
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    cursor: pointer; /* 마우스 커서 포인터로 변경 */
}

.pagination button:hover {
    background-color: #0056b3; /* 호버 시 색상 변경 */
}

.pagination button:disabled {
    background-color: #555; /* Disabled 상태일 때 색상 */
    cursor: not-allowed; /* 클릭 불가 상태 표시 */
}

.pagination span {
    color: white;
    font-size: 18px; /* 페이지 번호 크기 증가 */
}



/* 반응형 디자인 - 작은 화면에서는 한 줄에 두 개씩 표시 */
@media (max-width: 768px) {
   .movie-grid {
        grid-template-columns: repeat(2, 1fr); 
   }
}