.movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.movie-card {
  width: 180px; /* 카드 너비 조정 */
  text-align: center;
  background-color: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
}

.movie-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.movie-card img {
  width: 100%; /* 이미지가 카드 너비에 맞게 조정 */
  height: auto; /* 비율 유지 */
  border-bottom: 2px solid #fff;
}

.movie-card h2 {
  font-size: 16px;
  margin: 10px 0;
  color: white;
}
body {
  background-color: #121212;
  font-family: 'Roboto', sans-serif;
  color: white;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 2.5rem;
  color: #ff3c00;
}

